.adminPage__section--chart {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  margin-bottom: 10px;
}

.adminPage__section--chart-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 1.5rem;
  span {
    font-size: 15px;
    color: #a5a7ab;
    padding: 0px 6px;
    border-radius: 20px;
    border: 1px solid #a5a7ab;
  }
}

// .g2-tooltip-marker {
// background-color: #03743f !important;
// }

.g2-tooltip-value {
  margin-left: 20px !important;
}

canvas {
  width: 100% !important;
}

@media only screen and (max-width: 1200px) {
  canvas {
    height: 300px !important;
  }
}

@media only screen and (max-width: 768px) {
  canvas {
    height: 280px !important;
  }
}

@media only screen and (max-width: 576px) {
  canvas {
    height: 200px !important;
  }

  .adminPage__section--chart {
    padding: 1rem;
  }

  .adminPage__section--chart-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;

    span {
      font-size: 12px;
      padding: 0px 5px;
    }
  }
}

@media only screen and (max-width: 400px) {
  canvas {
    height: 180px !important;
  }
}
