.mobile_button {
  display: flex;
  flex-direction: column;
  transition: all 5s;
}

.mobile {
  position: absolute;
  width: 100vw;
  transform: translateY(23.5px);
  left: -0.01%;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 85%;

  &__language {
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    animation-name: mobileLanguage;
    animation-duration: 0.8s;

    &--title {
      text-decoration: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #6b7280;
      cursor: pointer;
      margin: 1rem 0;

      &:hover {
        color: #1c64f2;
      }
    }
  }
  //
}

// Animatsiya

@keyframes mobileLanguage {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
