.homePage,
.projectsPage,
.teamPage,
.calendarPage {
  &__main {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10rem;
      color: #6b7280;
      width: 30px;
      height: 30px;
      transform: scale(10);
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
  }
}

@media only screen and (max-width: 576px) {
  .homePage,
  .projectsPage,
  .teamPage,
  .calendarPage {
    &__main {
      width: 50%;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin-top: 10rem;
        width: 25px;
        height: 25px;
        transform: scale(9);
      }
    }
  }
}
