.products {
  padding: 1.5rem 1rem;
  // margin: 10px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #e5e7eb;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  hr {
    margin: 1rem 0;
    border: 1px solid #e5e7eb;
  }

  &__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 1.5rem;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      .products__box--left {
        transform: scale(1.03);
      }

      .products__box--right {
        transform: scale(1.03);
      }
    }

    &--left {
      display: flex;
      justify-content: start;
      align-items: center;

      p {
        margin-left: 0.5rem;

        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
      }

      .email {
        color: #6b7280;
        font-size: 12px;
        font-weight: 500;
      }
    }

    &--right {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;

      span {
        color: #6b7280;
        font-weight: 500;
      }
    }
  }
  hr:last-child {
    display: none;
  }
}
